footer 
    .row
        .footer-menu-item.footer-meni-item_logo 
            a(href="/").logo
                img(src="./img/logo-big.svg", alt="")
                b HyunaStore
            strong STORE - worldwide fashion store since 1978. We sell over 1000+ branded products on our web-site.
        .footer-menu-item 
            h4 INFORMATION
            ul
                li
                    a(href="#") New Collection
                li
                    a(href="#") About Store
                li
                    a(href="#") Contact Us
                li
                    a(href="#") Latest News
                li
                    a(href="#") Our Sitemap
                li
                    a(href="#") Orders History
        .footer-menu-item 
            h4 FOOTER MENU
            ul
                li
                    a(href="#") Instagram profile
                li
                    a(href="#") New Collection
                li
                    a(href="#") Contact Us
                li
                    a(href="#") Latest News
                li
                    a(href="#") Terms & Conditions
                li
                    a(href="#") Purchase Theme
        .footer-menu-item 
            h4 USEFUL LINKS
            ul
                li
                    a(href="#") Instagram profile
                li
                    a(href="#") New Collection
                li
                    a(href="#") Contact Us
                li
                    a(href="#") Latest News
                li
                    a(href="#") Terms & Conditions
                li
                    a(href="#") Purchase Theme
        .footer-menu-item.footer-menu-item_about
            h4 ABOUT THE STORE
            strong STORE - worldwide fashion store since 1978. We sell over 1000+ branded products on our web-site.
            .social 
                br
                a.cp(href="#") www.company.com
                .social-links
                    
                    a(href="#")
                        img(src="./img/fb_icon.svg", alt="")
                
                    a(href="#")
                        img(src="./img/inst_icon.svg", alt="")
                
                    a(href="#")
                        img(src="./img/tw_icon.svg", alt="")
                
                    a(href="#")
                        img(src="./img/in_icon.svg", alt="")

                    a(href="#")
                        img(src="./img/yt_icon.svg", alt="")
                .language-selector 
                    a(href="#") English 
