doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    //style 
      include ../dist/style.css
    title I'm a titl
  body
    block content
        include includes/content    
  //script(src="somescript.js")