$fa-font-path: "./fonts/webfonts";
$body-bgc: #F4F9FC;
$text-black: rgba(3, 13, 21, 1);
$text-black-50: rgba(3, 13, 21, .5);
$text-black-60: rgba(3, 13, 21, .6);
$text-red: rgba(199, 37, 53, 1);
$text-red-60: rgba(199, 37, 53, .6);
$text-white: rgba(244, 249, 252, 1);
$text-white-60: rgba(244, 249, 252, .6);
